@viewport {
	width: device-width;
	zoom: 1.0
}

@font-face{
	font-family:"eulexia";
	src:url("/r/eulexia.eot");
	src:url("/r/eulexia.eot?") format("embedded-opentype"),url("/r/eulexia.woff") format("woff"),url("/r/eulexia.otf") format("opentype"), url("/r/eulexia.svg") format("svg")
}

h3 {
	margin: 3% 0 0;
	font-size: 160%
}

body,
html {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 8vmin;
	font-family:"eulexia",sans-serif;
	color: #fff;
	background-color: #262626
}

div {
	background-color: #551a8b
}