@viewport {
	width: device-width;
	zoom: 1.0
}

h3 {
	margin: 3% 0 0;
	font-size: 160%
}

body,
html {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 8vmin;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	color: #fff;
	background-color: #262626
}

div {
	background-color: #551a8b
}