<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>
			{% if page.nativeName and page.country %}
				{{ page.nativeName }} / {{ page.country }}
			{% else %}
				{{ page.title }}
			{% endif %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>@font-face{font-family:"eulexia";src:url("/r/eulexia.eot");src:url("/r/eulexia.eot?") format("embedded-opentype"),url("/r/eulexia.woff") format("woff"),url("/r/eulexia.otf") format("opentype"), url("/r/eulexia.svg") format("svg");}body{font-family:"eulexia",sans-serif;}
		{% if page.country %}
			{% include css/country.css %}
		{% else %}
			{% include css/global.css %}
		{% endif %}
		</style>
		<link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" />
		<link rel="canonical" href="{{ site.github.url }}{{ page.url }}" />
	</head>
	
	<body style="font-size:5vmin;">
		{{ content }}
		<script>if("5vmin"!=document.body.style.fontSize){var a=document.documentElement;(b=function(){c=Math.min(a.clientWidth,a.clientHeight);document.body.style.fontSize=0.05*c+"px";document.body.style.lineHeight=0.08*c+"px"})();onresize=b};</script>
	</body>
</html>