<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>@font-face{font-family:"eulexia";src:url("/r/eulexia.eot");src:url("/r/eulexia.eot?") format("embedded-opentype"),url("/r/eulexia.woff") format("woff"),url("/r/eulexia.otf") format("opentype"), url("/r/eulexia.svg") format("svg");}body{font-family:"eulexia",sans-serif;}</style>
		<link rel="stylesheet" href="/r/r.css" />
		<link rel="canonical" href="." />
	</head>
	
	<body>
	{{ content }}
	</body>
</html>