<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>@font-face{font-family:"eulexia";src:url("/r/eulexia.eot");src:url("/r/eulexia.eot?") format("embedded-opentype"),url("/r/eulexia.woff") format("woff"),url("/r/eulexia.otf") format("opentype"), url("/r/eulexia.svg") format("svg");}body{font-family:"eulexia",sans-serif;}</style>
		<link rel="stylesheet" href="/r/r.css" />
		<link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" />
		<link rel="canonical" href="." />
	</head>
	
	<body style="font-size:9vmin;">
		{{ content }}
		<script>if("9vmin"!=document.body.style.fontSize){var a=document.documentElement;(b=function(){document.body.style.fontSize=document.body.style.lineHeight=0.085*Math.min(a.clientWidth,a.clientHeight)+"px"})();onresize=b};</script>
	</body>
</html>