@viewport{
	width: device-width;
	zoom: 1.0;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-size: 7.5vmin;
	line-height: 7.5vmin;
	color: #fff;
	font-family: "eulexia", sans-serif;
	background-color: #262626;
	margin-top: 2%;
}

small {
	display: block;
	margin-bottom: 3%;
	color: #515151;
	font-size: 60%;
}

div {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	font-size: 60%;
	background-color: #1abc9c;
}
div a {
	display: block;
	text-decoration: underline;
	background-color: #ecf0f1;
	padding: 0.6% 0;
}

div a:hover,
div a:active {
	background-color: #fff;
}

li {
	width: 50%;
	float: left;
	list-style-type: none;
}

a {
	color: #a8a8a8;
	text-decoration: none;
}

a:hover,
a:active {
	color: #7d7d7d;
}

#h {
	position: static;
	visibility: hidden;
}
