@viewport {
	width: device-width;
	zoom: 1.0;
}

small {
	display: block;
	margin-bottom: 3%;
	color: #515151;
	font-size: 60%;
}

body,
html {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 8vmin;
	color: #fff;
	background-color: #262626;
}

div {
	font-size: 60%;
	background-color: #1abc9c;
	margin-bottom: 3%;
}

div a {
	display: block;
	color: #a8a8a8;
	text-decoration: underline;
	background-color: #ecf0f1;
}

div a:hover,
div a:active {
	color: #7d7d7d;
	background-color: #fff;
}